@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #E40511;
  font-weight: normal;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin: 0px 30px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #E40511;
}

.content{
  max-width: 80rem;
  margin: 40px auto;
  padding: 20px;
}

.spell-preview {
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #f3f3f3;
  border-radius: 10px;
}

.spell-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.spell-preview h2 {
  font-size: 20px;
  color: #E40511;
  margin-bottom: 8px;
}

.spell-preview-list{
  padding-top: 30px;
}
